<ion-header>
  <ion-toolbar>
    <ion-title>
      VISION
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card [style.opacity]="opacity">
    <ion-card-content>
      <div #directionsPanel  id="directionsPanel"></div>
    </ion-card-content>
  </ion-card>

  <div id='map'></div>

  <button vertical="bottom" horizontal="center" slot="fixed" style="height: 30vh;width: calc(100% - 30px);position: fixed; bottom:5px;margin:15px;opacity: 0.5;" (click)="startListening()" > Voice Command</button>
</ion-content>